/* ejemplo1b.css AC18107 */

fichero {background-color:gray;}
ficha {background-color:white; display:block;}
nombre {color:black; display:inline;}
apellido {color:black; display:inline;}
direccion {color:black; display:inline;}
telefono {color:black; display:inline;}
email {color:black; display:inline;}
documentacion {background-color:gray; display:block;}
dui {color:black; display:inline;}
isss {color:black; display:inline;}
afp {color:black; display:inline;}