/* ejemplo2a.css AC18107 */

pais {background-color:gray;}
departamento {background-color:white; display:block;}
cabecera {color:black; display:inline;}
habitantes {color:black; display:inline;}
altura {color:black; display:inline;}